<ng-container>
  <div class="fixed inset-0 overflow-hidden">
    <div class="absolute inset-0 overflow-hidden">

      <div class="absolute inset-y-0 right-0 w-full dark:bg-gray-900 bg-white"></div>

      <div class="absolute inset-0 flex items-center justify-center">
        <div class="w-4/5 max-w-screen-lg dark:bg-white bg-gray-900 rounded-lg shadow-lg p-8 mx-auto">

          <div class="flex flex-col items-center justify-center" *ngIf="isStartButtonVisible">
            <h1 class="text-2xl md:text-3xl lg:text-4xl font-bold mb-4 text-white dark:text-black text-center mb-5">
              Welcome to TakePicture!
            </h1>
            <p class="text-white dark:text-black text-center mb-3">To create your personalised card, please click on the button below:</p>
            <button type="button" (click)="showPreview()" class="items-center text-black bg-white hover:bg-gray-200 dark:text-white dark:bg-gray-900 dark:hover:bg-gray-700 dark:border-gray-700 focus:outline-none font-medium rounded-lg text-sm items-center px-5 py-2.5 mt-10">Start</button>
          </div>

          <div class="snapshot flex flex-col items-center" *ngIf="showWebcam">
            <div class="flex flex-col items-center">
              <h2 class="text-2xl font-bold mb-4 text-white dark:text-black text-center mb-5">
                Sit comfortably, centre your face and take your picture.
              </h2>
              <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)" [videoOptions]="videoOptions" [imageQuality]="1" (initError)="handlerInitError($event)"></webcam>
              <button type="button" (click)="triggerSnapshot()" class="text-black bg-white hover:bg-gray-200 dark:text-white dark:bg-gray-900 dark:hover:bg-gray-700 dark:border-gray-700 focus:outline-none font-medium rounded-lg text-sm items-center px-5 py-2.5 mt-10"><i class="fa-solid fa-camera items-center mr-2"></i> Take screenshot</button>
            </div>
          </div>

          <div class="snapshot flex flex-col items-center" *ngIf="!pictureProcessed && !showPicture">
            <div class="flex flex-col items-center" *ngIf="webcamImage">
              <h2 class="text-2xl font-bold mb-4 text-white dark:text-black text-center mb-5">
                Picture taken!
              </h2>
              <img [src]="webcamImage.imageAsDataUrl" alt="" >
              <div class="flex justify-center space-x-5">
                <button class="actionBtn" (click)="save()" class="text-black bg-white hover:bg-gray-200 dark:text-white dark:bg-gray-900 dark:hover:bg-gray-700 dark:border-gray-700 focus:outline-none font-medium rounded-lg text-sm items-center px-5 py-2.5 mt-10"><i class="fa-solid fa-floppy-disk items-center mr-2"></i>Save Picture</button>
                <button class="actionBtn" (click)="reload()" class="text-black bg-white hover:bg-gray-200 dark:text-white dark:bg-gray-900 dark:hover:bg-gray-700 dark:border-gray-700 focus:outline-none font-medium rounded-lg text-sm items-center px-5 py-2.5 mt-10" ><i class="fa-solid fa-rotate-right items-center mr-2"></i>Try Again</button>
              </div>

              <div id="info-popup" tabindex="-1" class="hidden fixed top-0 right-0 bottom-0 left-0 z-50 flex items-center justify-center bg-gray-500 bg-opacity-75 backdrop-filter backdrop-blur-md">
                <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 md:p-8">
                  <div class="mb-4 text-sm font-light text-gray-500 dark:text-gray-400">
                    <h3 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">Save changes?</h3>
                    <p>
                      Your unsaved picture will be lost. Save this picture before closing?
                    </p>
                  </div>
                  <div class="flex justify-center items-center pt-0 space-y-4 sm:flex sm:space-y-0">
                    <div class="items-center space-y-4 sm:space-x-4 sm:flex sm:space-y-0">
                      <button (click)="reload()" id="close-modal" type="button" class="py-2 px-4 w-full text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 sm:w-auto hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                        Cancel
                      </button>
                      <button (click)="upload()" id="confirm-button" type="button" class="flex items-center justify-center py-2 px-4 w-full rounded-lg border border-gray-200 text-black bg-white hover:bg-gray-200 dark:text-white dark:bg-gray-900 dark:hover:bg-gray-700 dark:border-gray-700 focus:outline-none font-medium rounded-lg text-sm mt-10">
                        Confirm
                        <span *ngIf="pleaseWait">
                          <img src="assets/images/Spinner.gif" class="ml-2 spinner" alt="Spinner"/>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <!--<span *ngIf="pleaseWait">
              <img src="assets/images/Spinner.gif" class="spinner" alt="Spinner"/>
              </span>-->

            </div>
          </div>

          <div class="message" id="message">
            {{message}}
          </div>

          <div class="messageError" id="messageError">
            {{messageError}}
          </div>

          <div *ngIf="pictureProcessed">
            <app-member-form [imageName]="imageHash + '.jpeg'"></app-member-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
