<ng-container>
  <div class="fixed inset-0 overflow-hidden">
    <div class="absolute inset-0 overflow-hidden">

      <div class="absolute inset-y-0 right-0 w-full dark:bg-gray-900 bg-white"></div>
      <!--<div class="absolute inset-y-0 right-0 w-full bg-gradient-to-l from-purple-900 to-black"></div>-->
      <!--<div class="absolute inset-y-0 left-0 w-full bg-gradient-to-r from-purple-900 to-purple-700"></div>-->

      <!--<div class="absolute inset-y-0 left-0 w-full bg-gradient-to-r from-teal-500 to-blue-500"></div>
      <div class="absolute inset-y-0 right-0 w-full bg-gradient-to-l from-pink-500 to-purple-500"></div>-->

      <div class="absolute inset-0 flex items-center justify-center">
        <div class="w-4/5 max-w-screen-lg dark:bg-white bg-gray-900 rounded-lg shadow-lg p-8 mx-auto">

          <!--<div class="flex justify-center items-center mb-10">
            <ol class="flex items-center w-full text-sm font-medium text-center text-gray-500 dark:text-gray-400 sm:text-base">
              <li class="flex md:w-full items-center text-blue-600 dark:text-blue-500 sm:after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
        <span class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-200 dark:after:text-gray-500">
            <svg aria-hidden="true" class="w-4 h-4 mr-2 sm:w-5 sm:h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            Take
        </span>
              </li>
              <li class="flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
        <span class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-200 dark:after:text-gray-500">
            <span class="mr-2">2</span>
            Save
        </span>
              </li>
              <li class="flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
        <span class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-200 dark:after:text-gray-500">
            <span class="mr-2">3</span>
            Fill
        </span>
              </li>
              <li class="flex items-center">
                <span class="mr-2">4</span>
                Result
              </li>
            </ol>
          </div>-->

          <!--<div class="snapshot flex flex-col items-center">
            <div *ngIf="isPreviewVisible" class="flex flex-col items-center">
              <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)" [videoOptions]="videoOptions" [imageQuality]="1" (initError)="handlerInitError($event)"></webcam>
              <button type="button" (click)="triggerSnapshot()" class="text-black bg-white hover:bg-gray-200 dark:text-white dark:bg-gray-900 dark:hover:bg-gray-700 dark:border-gray-700 focus:outline-none font-medium rounded-lg text-sm items-center px-5 py-2.5 mt-10">Take screenshot</button>
            </div>
            <label for="visibilityChk">{{togglePreviewMessage}}</label>
            <input type="checkbox" name="visibilityChk" id="visibilityChk" (click)="togglePreviewVisibility()">
          </div>-->

          <div class="flex flex-col items-center justify-center" *ngIf="isStartButtonVisible">
            <h1 class="text-2xl md:text-3xl lg:text-4xl font-bold mb-4 text-white dark:text-black text-center mb-5">
              Welcome to TakePicture!
            </h1>
            <p class="text-white dark:text-black text-center mb-3">To create your personalised card, please click on the button below:</p>
            <button type="button" (click)="showPreview()" class="items-center text-black bg-white hover:bg-gray-200 dark:text-white dark:bg-gray-900 dark:hover:bg-gray-700 dark:border-gray-700 focus:outline-none font-medium rounded-lg text-sm items-center px-5 py-2.5 mt-10">Start</button>
          </div>


          <div class="snapshot flex flex-col items-center" *ngIf="showWebcam">
            <div class="flex flex-col items-center">
              <h2 class="text-2xl font-bold mb-4 text-white dark:text-black text-center mb-5">
                Sit comfortably, centre your face and take your picture.
              </h2>
              <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)" [videoOptions]="videoOptions" [imageQuality]="1" (initError)="handlerInitError($event)"></webcam>
              <button type="button" (click)="triggerSnapshot()" class="text-black bg-white hover:bg-gray-200 dark:text-white dark:bg-gray-900 dark:hover:bg-gray-700 dark:border-gray-700 focus:outline-none font-medium rounded-lg text-sm items-center px-5 py-2.5 mt-10"><i class="fa-solid fa-camera items-center mr-2"></i> Take screenshot</button>
            </div>
          </div>

          <div class="snapshot flex flex-col items-center" *ngIf="!pictureProcessed && !showPicture">
            <div class="flex flex-col items-center" *ngIf="webcamImage">
              <h2 class="text-2xl font-bold mb-4 text-white dark:text-black text-center mb-5">
                Picture taken!
              </h2>
              <img [src]="webcamImage.imageAsDataUrl" alt="" >
              <div class="flex justify-center space-x-5">
                <button class="actionBtn" (click)="save()" class="text-black bg-white hover:bg-gray-200 dark:text-white dark:bg-gray-900 dark:hover:bg-gray-700 dark:border-gray-700 focus:outline-none font-medium rounded-lg text-sm items-center px-5 py-2.5 mt-10"><i class="fa-solid fa-floppy-disk items-center mr-2"></i>Save Picture</button>
                <button class="actionBtn" (click)="reload()" class="text-black bg-white hover:bg-gray-200 dark:text-white dark:bg-gray-900 dark:hover:bg-gray-700 dark:border-gray-700 focus:outline-none font-medium rounded-lg text-sm items-center px-5 py-2.5 mt-10" ><i class="fa-solid fa-rotate-right items-center mr-2"></i>Try Again</button>
              </div>

              <div id="info-popup" tabindex="-1" class="hidden fixed top-0 right-0 bottom-0 left-0 z-50 flex items-center justify-center bg-gray-500 bg-opacity-75 backdrop-filter backdrop-blur-md">
                <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 md:p-8">
                  <div class="mb-4 text-sm font-light text-gray-500 dark:text-gray-400">
                    <h3 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">Save changes?</h3>
                    <p>
                      Your unsaved picture will be lost. Save this picture before closing?
                    </p>
                  </div>
                  <div class="flex justify-center items-center pt-0 space-y-4 sm:flex sm:space-y-0">
                    <div class="items-center space-y-4 sm:space-x-4 sm:flex sm:space-y-0">
                      <button (click)="reload()" id="close-modal" type="button"  class="py-2 px-4 w-full text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 sm:w-auto hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cancel</button>
                      <button (click)="upload()" id="confirm-button" type="button" class="py-2 px-4 w-full rounded-lg border border-gray-200 text-black bg-white hover:bg-gray-200 dark:text-white dark:bg-gray-900 dark:hover:bg-gray-700 dark:border-gray-700 focus:outline-none font-medium rounded-lg text-sm items-center px-5 py-2.5 mt-10">Confirm</button>
                    </div>
                  </div>
                </div>
              </div>

              <!--<span *ngIf="pleaseWait">
              <img src="assets/images/Spinner.gif" class="spinner" alt="Spinner"/>
              </span>-->

            </div>
          </div>

          <div class="message" id="message">
            {{message}}
          </div>

          <div class="messageError" id="messageError">
            {{messageError}}
          </div>

          <div *ngIf="pictureProcessed">
            <app-member-form [imageName]="imageHash + '.jpeg'"></app-member-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
